<ngx-circular-progress [value]="10" [color]="'#F00'" [txtColor]="'#ccc'"></ngx-circular-progress>
<ngx-circular-progress [value]="20" [color]="'green'"></ngx-circular-progress>
<ngx-circular-progress [value]="30" [color]="'blue'"></ngx-circular-progress>
<ngx-circular-progress [value]="40" [color]="'#0FF'"></ngx-circular-progress>
<ngx-circular-progress [value]="50"></ngx-circular-progress>
<ngx-circular-progress [color]="'#456'"></ngx-circular-progress>
<ngx-circular-progress [value]="70" [color]="'#847534'"></ngx-circular-progress>